<div class="container">
  <svg class="symbol--logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.8 39.2"><style>.st0{fill:#ff6033}</style><path id="Path_5" class="st0" d="M36.2 2.9L22.8 39.2h-3.6L5 2v35.8l4 .4v.8H0v-.7l4-.4V1.1L0 .7V0h11.9l12.5 31.6L36.1 0h11.3v.7l-4.1.4v36.7l4.1.4v.8H32.6v-.7l3.6-.4v-35zM111.9 39H95v-.7l4.9-.4V.9h-6.8l-4.3 10.3H88V0h30.9v11.2h-.7L113.9.9h-6.8v37l4.8.4v.7zm56.4-1.2l3.9.4v.8h-15.1v-.7l4-.4V1.1l-4-.4V0h15.1v.7l-3.9.4v36.7zM78.1 39l-1.5-4.7H62.8L61.3 39h-9.6L65.6 0h8.3L88 39h-9.9zm-8.4-27.9l-4.8 16h9.5l-4.7-16zm64.8-3.3h-8.8V0h26.6v7.8h-8.9V39h-9l.1-31.2zm58-7.8c12.9 0 20.3 9.5 20.3 19.5S205.5 39 192.5 39h-14.3V0h14.3zm-5.3 7.8v23.4h4.8c7.3 0 11.5-5.7 11.5-11.7S199.3 7.8 192 7.8h-4.8z"/></svg>
</div>
