{% extends '_layouts/main-layout' %}

{% block content %}
<section class="setting--pos-relative">
  <div class="setting--font-size-0 container--image">
    <img src="/assets/build/img/tmp--intro.png" alt="">
  </div>
  <div class="container--image__overlay">
    <div class="container--image__text">
      <div class="heading--sub heading--tiny">Lookbook 2017</div>
      <h2 class="heading">Classic menswear for the modern man</h2>
      <div class="cta setting--add-lots-of-space setting--color-secondary">
        <p><a href="#">See the collection</a></p>
      </div>
    </div>
  </div>
</section>

<section class="setting--align-center">
  <div class="container container--content">
    <div class="setting--margin-top setting--margin-bottom">
      <div class="heading--sub heading--tiny">The collection</div>
      <h2 class="heading">Have a look at some of our fall favourites, from basics to something special.</h2>
    </div>

    <ul class="grid">
      <li class="collection--item category--new col-4_md-12">
        <a href="#">
          <div class="setting--square-image-container collection--image-container">
            <img data-src="/assets/build/img/collection-image-1.png" class="lazyload lazyload--image" alt="">
          </div>
          <p class="heading--tiny setting--color-secondary setting--margin-top--small">Shirts</p>
          <h2 class="heading heading--small">Slim fit button-up</h2>
          <p class="heading--tiny">1.299 NOK</p>
        </a>
      </li>
      <li class="collection--item col-4_md-12">
        <a href="#">
          <div class="setting--square-image-container collection--image-container">
            <img src="/assets/build/img/collection-image-2.png" class="lazyload lazyload--image" alt="">
          </div>
          <p class="heading--tiny setting--color-secondary setting--margin-top--small">Sweaters</p>
          <h2 class="heading heading--small">Knit wool sweater</h2>
          <p class="heading--tiny">1.299 NOK</p>
        </a>
      </li>
      <li class="collection--item col-4_md-12">
        <a href="#">
          <div class="setting--square-image-container collection--image-container">
            <img src="/assets/build/img/collection-image-3.png" class="lazyload lazyload--image" alt="">
          </div>
          <p class="heading--tiny setting--color-secondary setting--margin-top--small">Ties</p>
          <h2 class="heading heading--small">Classic silk tie</h2>
          <p class="heading--tiny">1.299 NOK</p>
        </a>
      </li>
    </ul>

  </div>

  <div class="cta setting--margin-top setting--margin-bottom">
    <p><a href="#">See our whole collection</a></p>
  </div>

</section>

<section>
  <div class="grid-noGutter">
    <div class="col-6_md-12 setting--pos-relative">
      <div class="setting--font-size-0 setting--square-image-container">
        <img class="lazyload--image lazyload" data-src="/assets/build/img/tmp--square.png" />
      </div>
      <a href="#" class="setting--link-full-area">
        <div class="container--image__overlay">
          <div class="container--image--text-in-corner">
            <p class="heading--tiny setting--color-secondary setting--margin-top--small">Sweaters</p>
            <div class="setting--color-white">
              <h2 class="heading heading--small">Classic silk tie</h2>
              <p class="heading--tiny">1.299 NOK</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6_md-12 setting--fill-beige-light setting--pos-relative setting--align-center">
      <a href="#" class="setting--link-full-area">
        <div class="setting--vertical-align-md setting--padding-top setting--padding-bottom">
          <p class="heading--tiny">The Collection</p>
          <h2 class="heading heading--medium">Shop all styles</h2>
          <div class="setting--margin-top--small">
            <svg class="icon--arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/svg/svg.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>


<section class="setting--align-center js--in-view">
  <div class="container container--content">
    <div class="setting--margin-top setting--margin-bottom setting--color-secondary">
      <div class="heading--sub heading--tiny">Membership</div>
      <h2 class="heading">Stylish socks, delivered monthly.</h2>
      <div class="typography--large setting--margin-top--small">
        <p>Socks you’ll look forward to. <br>Find the subscription plan that’s right for you.</p>
      </div>
    </div>
  </div>
  <div class="container container--content">
    <ul class="grid-spaceAround">
      <li class="collection--item col-5_md-12">
        <a href="#">
          <div class="setting--square-image-container collection--image-container">
            <img data-src="/assets/build/img/tmp--square-2.png" class="lazyload lazyload--image" alt="">
          </div>
          <p class="heading--tiny setting--color-secondary setting--margin-top--small">Subscription plan</p>
          <h2 class="heading heading--small">2 pairs/month</h2>
          <p class="heading--tiny">300 NOK</p>
        </a>
      </li>
      <li class="collection--item col-5_md-12">
        <a href="#">
          <div class="setting--square-image-container collection--image-container">
            <img data-src="/assets/build/img/tmp--square-3.png" class="lazyload lazyload--image" alt="">
          </div>
          <p class="heading--tiny setting--color-secondary setting--margin-top--small">Subscription plan</p>
          <h2 class="heading heading--small">3 pairs/month</h2>
          <p class="heading--tiny">500 NOK</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="cta setting--margin-top setting--margin-bottom setting--color-secondary">
    <p><a href="#">See our whole collection</a></p>
  </div>
</section>


<section>
  <div class="grid-noGutter">
    <div class="col-6_md-12 setting--pos-relative">
      <div class="setting--font-size-0 setting--square-image-container">
        <img class="lazyload--image lazyload" data-src="/assets/build/img/tmp--square-4.png" />
      </div>
      <a href="#" class="setting--link-full-area">
        <div class="container--image__overlay">
          <div class="container--image--text-in-corner">
            <p class="heading--tiny setting--color-secondary setting--margin-top--small">Socks</p>
            <div class="setting--color-white">
              <h2 class="heading heading--small">Merino wool</h2>
              <p class="heading--tiny">200 NOK</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6_md-12 setting--fill-beige-dark setting--color-white setting--pos-relative setting--align-center">
      <a href="#" class="setting--link-full-area">
        <div class="setting--vertical-align-md setting--padding-top setting--padding-bottom">
          <p class="heading--tiny">Socks</p>
          <h2 class="heading heading--medium">Find your fit</h2>
          <div class="setting--margin-top--small">
            <svg class="icon--arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/svg/svg.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="section--newsletter setting--padding setting--margin-top setting--margin-bottom setting--align-center">
  <h2 class="heading">Hi there!</h2>
  <div class="typography--large"><p>Join the Ernst style club and get 10% off your next order.</p></div>
  <div class="cta"><p>Plus, be the first to hear about special events, new arrivals, and exclusive promotions.</p></div>
  <form class="setting--margin-top">
    <input type="text" class="form--input--text setting--align-center" placeholder="Enter email address">
    <div class="setting--margin-top--small"><button class="button--cta">Subscribe</button></div>
  </form>
</section>

<section class="setting--pos-relative">
  <div class="setting--font-size-0 container--image">
    <img src="/assets/build/img/tmp--intro.png" alt="">
  </div>
  <div class="container--image__overlay">
    <div class="container--image__text">
      <div class="heading--sub heading--tiny">Journal</div>
      <h2 class="heading">Explore, travel, lorem ipsum delor. Follow the Ernst journey.</h2>
      <div class="cta setting--add-lots-of-space setting--color-secondary">
        <p><a href="#">Read the journal</a></p>
      </div>
    </div>
  </div>
</section>

<section class="setting--margin-top setting--margin-bottom container setting--align-center">
  <div class="grid-bottom">
    <div class="col-4_md-12" data-push-left="off-1_md-0" push-right="off-1_md-0">
      <div class="">
        <p class="heading--tiny setting--color-secondary setting--margin-top--small">Ties</p>
        <h2 class="heading heading--small">Classic silk tie</h2>
        <p><a href="#">Read more</a></p>
      </div>
      <img class="setting--margin-top--small" src="/assets/build/img/journal-1.png">
    </div>
    <div class="col-4_md-12 setting--pos-relative" data-push-left="off-1_md-0" push-right="off-1_md-0">
      <div class="journal--text-below-image">
        <p class="heading--tiny setting--color-secondary">Travel</p>
        <h2 class="heading heading--small">Road trip: We’re taking Ernst on the road</h2>
        <p><a href="#">Read more</a></p>
      </div>
      <img class="setting--margin-top--small" src="/assets/build/img/journal-2.png">
    </div>
  </div>
  <div class="cta setting--margin-top--double setting--margin-bottom setting--color-secondary">
    <p><a href="#">See our whole collection</a></p>
  </div>
</section>

{% endblock %}
