{% extends '_layouts/main-layout' %}

{% block content %}

<div class="container">
	<div class="grid-center">
		<div class="col-12">
			<div class="setting--align-center typography">Hva ser du etter?</div>
		</div>
		<div class="col-8_lg-12">
			<div class="setting--align-center setting--display--flex-lg setting--flex-space-between heading--medium">
				<div><a href="#"><u>Booke bord</u></a></div>
				<div><a href="#"><u>Lese journal</u></a></div>
				<div><a href="#"><u>Lære om vår filosofi</u></a></div>
			</div>
		</div>
	</div>
	<div class="setting--pos-relative setting--gutter-bottom">
		<div class="setting--pos-absolute-lg setting--margin-top-lg setting--z-index-top">
			<div class="heading--large setting--margin-bottom">Kjærlighet for råvaren</div>
		</div>
		<div class="grid-noGutter">
			<div class="col-7_lg-12" data-push-left="off-1_lg-0">
				<div class="setting--horizontal-box setting--pos-relative setting--overflow-hidden setting--z-index-middle">
					<div style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #f0f0f0;"></div>
				</div>
			</div>
			<div class="col-4_lg-12">
				<ul class="setting--padding">
					<li>Vi har troa.</li>
					<li>Det er ikke dyrene som skal avles.</li>
					<li>Det er kunnskapen som skal dyrkes.</li>
				</ul>
				<div class="frontpage--box-bottom setting--horizontal-box setting--pos-relative setting--overflow-hidden setting--z-index-bottom">
					<div style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: grey;"></div>
				</div>
			</div>
		</div>
		<div class="frontpage--booking setting--pos-absolute-xxl setting--margin-top setting--align-center"><a href="#" class="button">Book bord</a></div>
	</div>
</div>

{% endblock %}
